# Created by Bahar Kaviani

### Python ###
# Libraries
research/highLigth/*

# microsoft files
HW/HW1/*.docx
HW/HW2/*.docx
HW/HW3/*.docx
HW/HW5/*.pptx
HW/HW6/*.docx
HW/HW7/*.docx

# images
HW/HW5/images
report/images

# films
presentation/*.mp4
presentation/*.txt